<nav class="navbar fixed-top navbar-expand-md navbar-light" [class.page-scrolled]="addBgC">
  <a class="navbar-brand" routerLink="/">LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">Package</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Offers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Contact Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Currency($)
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Link1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Link2</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Language(EN)
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">EN</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">AR</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
